<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="sass/site.css" />
  </head>
  <body>
    <div class="grid-container full top-bar-outer">
      <div class="grid-x align-center">
        <div class="cell large-9 medium-12">
          <div class="top-bar">
            <div class="top-bar-left">
              <ul class="menu">
                <li class="site-logo"></li>
                <li class="menu-text">首页</li>
                <li><a href="#">下载</a></li>
                <li><a href="#">帮助文档</a></li>
                <li><a href="#">Three</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-container full">
      <div class="grid-x align-center">
        <div class="cell large-9 medium-12">
          <div class="main">
            <div class="callout large">
              <div class="row column text-center">
                <div><img src="https://placehold.it/146x146" /></div>
                <h3><img src="https://placehold.it/100x30" /></h3>
                <h4 class="subheader">福州话输入法</h4>
              </div>
            </div>
            <div class="text-center downloads">
              <!-- Anchors (links) -->
              <a href="about.html" class="cta button">下载内测版</a>
              <a href="#features" class="cta button secondary-light">快速入门</a>
              <h6 class="subheader">版本号 1.0.0-beta1 支持 Windows 7, 8, 10 操作系统</h6>
            </div>
            <div class="text-center">
              <p>
                  <img class="thumbnail" src="https://placehold.it/850x350" />
              </p>
            </div>
            
          </div>
          <footer>
              版权信息
            </footer>
        </div>
      </div>
    </div>

  
  </body>
</html>
