<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Foundation | Welcome</title>
  <link rel="stylesheet" href="sass/site.css" />
</head>

<body>
  <div class="grid-container full top-bar-outer">
    <div class="grid-x align-center">
      <div class="cell large-9 medium-12">
        <div class="top-bar">
          <div class="top-bar-left">
            <ul class="menu">
              <li class="site-logo"></li>
              <li class="menu-text">首页</li>
              <li><a href="#">下载</a></li>
              <li><a href="#">帮助文档</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-container full">
    <div class="grid-x align-center">
      <div class="cell large-9 medium-12">
        <div class="main">
          <div class="callout large">
            <div class="row column text-center">
              <div><img src="https://placehold.it/146x146" /></div>
              <h3><img src="https://placehold.it/100x30" /></h3>
              <h4 class="subheader">福州话输入法</h4>
            </div>
          </div>
          <div class="text-center downloads">
            <!-- Anchors (links) -->
            <a href="about.html" class="cta button">下载内测版</a>
            <a href="#features" class="cta button secondary-light">快速入门</a>
            <h6 class="subheader">版本号 1.0.0-beta1 支持 Windows 7, 8, 10 操作系统</h6>
          </div>
          <div class="text-center">
            <p>
              <img class="thumbnail" src="https://placehold.it/850x350" />
            </p>
          </div>
          <div>
            <h1>Heading 1</h1>
            <h4>Heading 4</h4>
            <h4>安装真鸟</h4>
            <h5>Heading 5</h5>
            <h5>安装</h5>
            <h6>安装</h6>
            <p> 放石其口则管，周连承员。 从主而知步管何口九，开见起效身以等装，车存材年男李门平。 完起极片场包其，人米光了这，按届僚认围。 把保见细节经问真当力水，设面克便性领却江放性，划则露但或化带界更。
              容因志专满族将第，个期料方只三，场面刷员流极。

              无知立大接直元，收条流快军直存，知O杆医内。 水县平你子般时，到明毛见教料，石励声志选。

              内华经等响想两金么样通，太口实各深感铁员往存可，<a href="#">不建屈劳磨被</a>呈承厕。

              什满身们备社过，受易种存给光今，社建克林杨。 运消论革事经手样变品别志子，只六间场知更W备特有。 过受情易光商较，效料量但叫，往9主话天。 因更规装员里装置组又，维至海包争结外准素，精M杜P五转特。

              表在走几来般条越响起来形以图包，计来色动强接W才吧求花合。 深好代委计包而议火类，引火石点提代级正，按单励磨私色L</p>
            <p>
              <ul>
                <li>one</li>
                <li>two</li>
                  <ul>
                    <li>three</li>
                  </ul>
                  <li>four</li>
              </ul>

            </p>
            <blockquote>
              <p>asdfa hs <a href="#">link></a></p>
            </blockquote>
          </div>
        </div>
        <footer>
          版权信息
        </footer>
      </div>
    </div>
  </div>


</body>

</html>