@{
    //@Model["Title"] = "下载";
}
<div class="text-center" style="margin-top:20px; margin-bottom:20px">
    <h1>下载真鸟囝输入法</h1>
</div>
<div class="text-center downloads">
            <!-- Anchors (links) -->
            <a href="#" class="cta button">下载安装包 (Coming soon)</a>
            <h6 class="subheader">版本号 0.1.0-preview1 支持 Windows 7, 8, 10 操作系统</h6>
          </div>
<div class="callout warning">
    <h5>注意</h5>
    <p>此为预览版软件，可能不会按你所预期的方式运作，可能存在安全隐患，并可能对你的电脑系统造成不可逆的影响。请仔细阅读<a href="@Context.GetLink("help")">帮助</a>，谨慎考虑后下载安装。</p>
</div>