@{
    //@Model["Title"] = "下载";
}
<div class="text-center" style="margin-top:20px; margin-bottom:20px">
    <h1>下载真鸟囝输入法 (预览版)</h1>
</div>
<div class="text-center downloads">
            <!-- Anchors (links) -->
            <a href="https://dl.bintray.com/ztl8702/zingzeu/zingzeu-preview-100.msi" class="cta button">下载安装包</a>
            <a href="@Context.GetLink("help/quickstart")" class="cta button secondary-light">安装教程</a>
            <h6 class="subheader">版本号 0.1.0-preview1 支持 Windows 7, 8, 10 操作系统</h6>
          </div>
<div class="callout warning">
    <h5>注意</h5>
    <p>此为预览版软件，未必会按你期望的方式运作，也可能存在安全隐患，或会对你的电脑系统造成不可逆的影响。请仔细阅读<a href="@Context.GetLink("help")">帮助</a>，谨慎考虑后下载安装。我们建议入门用户先体验<a href="http://yngping.mindong.asia" target="_blank">网页版</a>。</p>
</div>
