@{
    List<Tuple<string, string>> pages = new List<Tuple<string, string>>
    {
        Tuple.Create("首页", Context.GetLink("/")),
        Tuple.Create("下载", Context.GetLink("download")),
        Tuple.Create("帮助文档", Context.GetLink("help")),
    };
}
<div class="grid-container full top-bar-outer">
<div class="grid-x align-center">
    <div class="cell large-9 medium-12">
    <div class="top-bar">
        <div class="top-bar-left">
        <ul class="menu">
            @{
                var navLogoUrl = Context.GetLink("/assets/images/navbar_logo.png");
                var navLogoStyle = $"background-image: url(\"{navLogoUrl}\")";
            }
            <li class="site-logo" style="@navLogoStyle"></li>
            @foreach (Tuple<string, string> page in pages)
            {
                bool isActive = page.Item2 == Context.GetLink("/") ? Context.GetLink(Document) == page.Item2 :  Context.GetLink(Document).StartsWith(page.Item2);
                string activeClass = isActive ? "menu-text" : "inactive";
                <li class="@activeClass"><a href="@(page.Item2)">@Html.Raw(page.Item1)</a></li>
            }
        </ul>
        </div>
    </div>
    </div>
</div>
</div>
